/* App.css */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(''); /* Cambia por tu imagen de fondo */
  background-size: cover;
  background-position: center;
}
