/* PasswordScreen.css */
.password-screen {
    min-height: 100vh; /* Establece el mínimo del alto al 100% del viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .password-screen input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .password-screen button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Color de fondo del botón */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición del color de fondo */
  }
  
  .password-screen button:hover {
    background-color: #45a049; /* Color de fondo al hacer hover */
  }

  .password-screen form{
    text-align: center;
  }
  