/* PasswordScreen.css */
.password-screen {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  color: #001c36; /* Color de texto azul oscuro de PayPal */
}

.password-screen h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.password-screen p {
  font-size: 18px;
  margin-bottom: 30px;
}

.password-screen input[type="password"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.password-screen button {
  padding: 10px 20px;
  background-color: #001c36; /* Azul oscuro de PayPal para botón */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.password-screen button:hover {
  background-color: #002847; /* Azul más oscuro al hacer hover */
}

.password-screen form {
  text-align: center;
}

/* Estilos para la imagen */
.avatar {
  width: 180px; /* Ajusta el tamaño de la imagen */
  height: 180px;
  object-fit: cover; /* Ajusta el tamaño y recorta la imagen según el contenedor */
  border-radius: 50%; /* Hace la imagen circular */
  margin-bottom: 20px;
}

.title-demo{
  margin-bottom: 0px !important;
}

.subtitle-demo{
  margin-top:10px !important;
}