.payment-form-screen {
    min-height: 95vh; /* Establece el mínimo del alto al 100% del viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #001c36; /* Color de texto azul oscuro de PayPal */
  }

  .payment-form-screen h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #001c36;
  }

  .payment-form-screen span{
    font-size: 18px;
  }

  .braintree-heading, .braintree-placeholder {
    color: #001c36;
    font-size: 16px;
    margin-bottom: 10px;
}

.braintree-option .braintree-option__label {
  color: #001c36;
  text-align: left;
}

.payment-form-screen button {
  padding: 10px 20px;
  background-color: #001c36; /* Azul oscuro de PayPal para botón */
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top:20px;
  margin-bottom:20px;
  border-radius: 4px;
}

.payment-form-screen input{
  height: 29px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.refund-button{
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}


.payment-form-div{
  width: 560px;
  margin-top: 100px;
  margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
  .payment-form-div{
    width: 100%;
  }
  
}

/* Estilos para el icono de carga */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-icon {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}
